.idea/
data/

./backend/.env
./frontend/.env
./frontend/.vscode
./frontend/node_modules
./frontend/package-lock.json

.env

./telegram-bot/.env

./pokemon-card-tool/assets/temp/*.png
./pokemon-card-tool/assets/pokemon-card/uncollected-cards/*.png
